h1 {
    margin-left: 30px;
}

img {
    margin-left: 30px;
}

h2 {
    margin-left: 30px;
}

p {
    margin-left: 30px;
}

ul {
    margin-left: 30px;
}

hr {
    margin-left: 30px;
}

